<a href="https://colab.research.google.com/github/mathieuroig9/projet22/blob/main/PJPYTHON_TAUX_SANS_RISQUE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install requests pandas

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.32.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import requests
import pandas as pd

# Fonction pour récupérer les données depuis l'API FRED
def get_fred_data(series_id, api_key):
    url = f"https://api.stlouisfed.org/fred/series/observations"
    params = {
        "series_id": series_id,
        "api_key": api_key,
        "file_type": "json"
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if "observations" in data:
            df = pd.DataFrame(data["observations"])
            df["date"] = pd.to_datetime(df["date"])
            df["value"] = pd.to_numeric(df["value"], errors="coerce")
            return df[["date", "value"]]
        else:
            print(f"Aucune donnée pour {series_id}")
            return None
    else:
        print(f"Erreur API pour {series_id}: {response.status_code}")
        return None

# Clé API de FRED (à remplacer par la vôtre)
api_key = "982c933ec445b467499f63f143e687f0"

# Codes des séries FRED pour les rendements à 10 ans
series = {
    "France (Zone Euro)": "IRLTLT01EZM156N",
    "Germany": "IRLTLT01DEM156N",
    "United Kingdom": "IRLTLT01GBM156N"
}

# Récupération des données
dfs = {}
for country, series_id in series.items():
    print(f"Récupération des données pour {country}...")
    dfs[country] = get_fred_data(series_id, api_key)

# Combiner les données
valid_dfs = {k: v for k, v in dfs.items() if v is not None}
if valid_dfs:
    result = pd.concat(valid_dfs.values(), keys=valid_dfs.keys())
    print(result)
    result.to_csv("taux_sans_risque_fred.csv")
else:
    print("Aucune donnée valide n'a été récupérée.")

Récupération des données pour France (Zone Euro)...
Récupération des données pour Germany...
Récupération des données pour United Kingdom...
                             date     value
France (Zone Euro) 0   1970-01-01  7.752553
                   1   1970-02-01  7.903703
                   2   1970-03-01  8.112340
                   3   1970-04-01  8.072667
                   4   1970-05-01  8.243205
...                           ...       ...
United Kingdom     773 2024-06-01  4.164400
                   774 2024-07-01  4.138600
                   775 2024-08-01  3.944400
                   776 2024-09-01  3.905300
                   777 2024-10-01  4.199300

[2258 rows x 2 columns]

In [ ]:
result.to_csv("taux_sans_risque_fred.csv", index=True)

In [ ]:
result.to_csv("taux_sans_risque_fred.csv", index=True)

# Relire le fichier et afficher son contenu
data = pd.read_csv("taux_sans_risque_fred.csv")
print(data)

              Unnamed: 0  Unnamed: 1        date     value
0     France (Zone Euro)           0  1970-01-01  7.752553
1     France (Zone Euro)           1  1970-02-01  7.903703
2     France (Zone Euro)           2  1970-03-01  8.112340
3     France (Zone Euro)           3  1970-04-01  8.072667
4     France (Zone Euro)           4  1970-05-01  8.243205
...                  ...         ...         ...       ...
2253      United Kingdom         773  2024-06-01  4.164400
2254      United Kingdom         774  2024-07-01  4.138600
2255      United Kingdom         775  2024-08-01  3.944400
2256      United Kingdom         776  2024-09-01  3.905300
2257      United Kingdom         777  2024-10-01  4.199300

[2258 rows x 4 columns]